<div class="container card py-1">
  <div class="row justify-content-center">
    <div class="col-2">
      <div class="icon" (click)="sendAction(0)"><i class="bi bi-trash3-fill"></i> Delete</div>
    </div>
    <div class="col-2">
      <div class="icon" (click)="sendAction(1)"><i class="bi bi-folder-symlink-fill"></i> Move to</div>
    </div>
    <div class="col-2">
      <div class="icon" (click)="sendAction(2)"><i class="bi bi-files"></i> Copy to</div>
    </div>
    <div class="col-2">
      <div class="icon" (click)="sendAction(3)"><i class="bi bi-cloud-arrow-down"></i> Download</div>
    </div>
    <div class="col-3">
      <div class="icon-card" (click)="closeToolBar()"><i class="bi bi-x-lg"></i> Selected items: {{selected}}</div>
    </div>
  </div>
</div>
