<div class="container card p-3">
  <div class="row justify-content-center">
    <div class="col-2">
      <div class="icon"><i class="bi bi-trash3-fill"></i> Delete</div>
    </div>
    <div class="col-2">
      <div class="icon"><i class="bi bi-folder-symlink-fill"></i> Move to</div>
    </div>
    <div class="col-2">
      <div class="icon"><i class="bi bi-files"></i> Copy to</div>
    </div>
    <div class="col-2">
      <div class="icon"><i class="bi bi-cloud-arrow-down"></i> Download</div>
    </div>
    <div class="col-3">
      <div class="icon-card"><i class="bi bi-x-lg"></i> Selected items: {{selected}}</div>
    </div>
  </div>
</div>
