@import "~bootstrap-icons/font/bootstrap-icons.css";
.folder:hover{
    cursor: pointer;
}
.line:hover{
    background-color: rgb(207, 207, 207);
}
.hidden{
    display: none;
}
.name-cell{
    text-overflow: ellipsis;
    overflow: hidden;
}